.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 6rem;
}

.heroContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroContent {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  color: #FFFFFF;
  text-align: center;
}

.heroIcon {
  color: #FFF;
  margin: 1rem;
}

.heroIcon:hover {
  color: orangered;
}

@media (max-width: 800px) {
  .sectionContainer {
    padding: 4rem 0;
  }

  .hero {
    margin-bottom: 4rem;
  }

  .heroIcon:hover {
    color: #FFF;
  }
}

