.hero {
  height: var(--app-height);
  min-height: -webkit-fill-available;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 6rem;
  background-color: red;
}

.heroContainer {
  height: var(--app-height);
  min-height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroContent {
  color: #FFFFFF;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  text-align: center;
}

.heroIcon {
  margin: 1rem;
}

.heroIcon:hover {
  color: orangered;
}

@media (max-width: 800px) {
  .hero {
    margin-bottom: 4rem;
  }

  .heroIcon:hover {
    color: #FFF;
  }
}

