.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 0;
  z-index: 1;
  background-color: transparent;
  color: var(--dark-font);
  font-weight: 600;
  transition: var(--transition-delay);
}

.navbarScrolled {
  background-color: var(--dark);
}

.logo {
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links li {
  list-style: none;
  border-bottom: 2px solid transparent;
  transition: 600ms;
}

.links li:hover {
  position: relative;
  border-bottom: 2px solid var(--accent);
}

.links li a {
  display: block;
  padding: 0 1rem;
  text-decoration: none;
}

.activeLink {
  border-bottom: 2px solid var(--dark-font);
}

.navButton {
  color: var(--dark-font);
  background-color: transparent;
  border: 2px solid var(--dark-font);
  border-radius: 50px;
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  transition: var(--transition-delay);
}

.navButton:hover {
  color: var(--font);
  background-color: var(--dark-font);
}

.navButtonScrolled {
  background-color: var(--accent);
  border: 2px solid var(--accent);
}

.navButtonScrolled:hover {
  color: var(--dark-font);
  background-color: var(--accent-hover);
}

.hamburgerMenu {
  color: var(--dark-font);
  position: absolute;
  display: none;
  top: 1.65rem;
  right: 3rem;
}

@media (max-width: 800px) {
  .hamburgerMenu {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .links {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    display: none;
  }

  .links ul {
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
  }

  .links ul li {
    width: calc(100% - 6rem);
    border-bottom: 1px solid white;
  }

  .links ul li:first-child {
    border-top: 1px solid white;
  }

  .links li a {
    width: 100vw;
    padding: 1rem 0;
  }

  .navButton {
    width: calc(100% - 6rem);
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    margin: 1rem 3rem;
    border: none;
    background-color: var(--accent);
  }

  .active {
    display: flex;
    background-color: var(--dark);
  }

  .activeNavbar {
    background-color: var(--dark);
    transition: none;
  }

}

