.skillsGridLayout {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 3rem;
  width: 100%;
}

.centerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsIcon {
  height: 3rem;
  width: 6rem;
  max-width: 100%;
  position: relative;
}

@media (max-width: 800px) {
  .skillsGridLayout {
    grid-gap: 2rem;
  }

  .skillsIcon {
    height: 4rem;
    width: 100%
  }
}