.gridLayout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-row-gap: 6rem;
  grid-column-gap: 3rem;
}

.mockupContainer {
  min-height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  position: relative;
}

.gridLayout .mockupContainer {
  grid-column: span 7;
}

.gridLayout .contentContainer {
  grid-column: span 5;
}

.webMockupContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.browserMockup {
  width: 100%;
  position: relative;
  background-color: var(--dark);
  border-top: 2rem solid var(--dark);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
}

.browserMockup:before {
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: 0 0 0 2px #ff605c, 1.5em 0 0 2px #ffbd44, 3em 0 0 2px #00ca4e;
}

.browserMockupImage {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.mobileMockupContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mobileMockup {
  width: 100%;
  position: relative;
  margin: 0 1rem;
  padding: 0;
  border: 6px solid var(--dark);
  border-radius: 1rem;
  background-color: var(--dark);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.mobileMockupImage {
  aspect-ratio: 1170 / 2532;
  width: 100%;
}

@media (max-width: 800px) {
  .gridLayout {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }

  .gridLayout .mockupContainer {
    grid-column: 1;
  }

  .gridLayout .contentContainer {
    grid-column: 1;
  }
}